<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Declare features -->
    <uses-feature android:name="android.hardware.camera" />

    <!-- Declare permissions -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".VunaSmartApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/vuna_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.VunaSmart"
        tools:targetApi="31">
        <activity

            android:name=".presentation.activity.MainActivity"
            android:exported="true"
            android:clearTaskOnLaunch="true"
            android:rotationAnimation="seamless"
            android:resizeableActivity="true"
            android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.VunaSmart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.notch_support" android:value="true"/>

        </activity>
    </application>

</manifest>